---
layout: default
---

{% for post in paginator.posts %}
	{% include excerpt.html post=post %}
{% endfor %}

<section class="card">
	<header class="text-center"><h3>
		{{ site.data[page.lang].page }}: {{ paginator.page }}
		{{ site.data[page.lang].of }} {{ paginator.total_pages }}
	</h3></header>
	{% if paginator.next_page or paginator.previous_page %}
	<p class="text-center">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<a class="button" href="{{ site.baseurl }}/index.html">
					<i class="icon-previous"></i>
					{{ site.data[page.lang].newerPost }}
				</a>
			{% else %}
				<a class="button" href="{{ site.baseurl }}/page{{ paginator.previous_page }}">
					<i class="icon-previous"></i>
					{{ site.data[page.lang].newerPost }}
				</a>
			{% endif %}
		{% endif %}
		{% if paginator.next_page %}
			<a class="button" href="{{ site.baseurl }}/page{{ paginator.next_page }}">
				{{ site.data[page.lang].olderPost }}
				<i class="icon-next"></i>
			</a>
		{% endif %}
	</p>
	{% endif %}
</section>
