---
layout: default
---

<article class="card">
	{% include post-header.html post=page %}
	{{ content }}
	{% if page.next or page.previous %}
		<footer><p class="text-center">
		{% if page.next %}
			<a class="button" href="{{ site.baseurl }}{{ page.next.url }}">
				<i class="icon-previous"></i>
				{{ site.data[page.lang].newerPost }}
			</a>
		{% endif %}
		{% if page.previous %}
			<a class="button" href="{{ site.baseurl }}{{ page.previous.url }}">
				{{ site.data[page.lang].olderPost }}
				<i class="icon-next"></i>
			</a>
		{% endif %}
		</p></footer>
	{% endif %}
</article>

{% if site.disqus and site.disqus != '' and page.comments %}
<div class="card"><div id="disqus_thread">
	<noscript>Please enable JavaScript to view the
		<a href="http://disqus.com/?ref_noscript">
			comments powered by Disqus.
		</a>
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">
		Comments powered by
		<span class="logo-disqus">Disqus</span>
	</a>
</div></div>
{% endif %}

{% include disqus-comments.html %}
